*.o
*.a
/skynet
/skynet.pid
3rd/lua/lua
3rd/lua/luac
/cservice
/luaclib
*.so
*.dSYM
.DS_Store
*.exp
*.lib
*.pdb
*.obj
*.ilk
*.dll
*.exe
build/vs2017/.vs
build/vs2017/intermediate
logs
.vs

!build/vs2017/pthreadVC2.lib
!pthreadVC2.dll
!libcrypto-1_1-x64.dll
!libcrypto-1_1-x64.pdb
!libssl-1_1-x64.dll
!libssl-1_1-x64.pdb

